{% extends 'base.html.twig' %}
{% import 'postMacro.twig' as postMacro %}
{% block title %} Post {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('css/post.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{#    <script src="{{ asset('js/addLike.js') }}" defer></script> <!-- defer to load this js page after all page loaded !>#}
{% endblock %}
{% block body%}
    <section class="hero">
        <div class="container">
            <div class="row">
                {{ postMacro.addPost(post.name,post.likes,post.comments,post.share) }}<!--Have the acces for just data i sent!-->
{#                {{ postMacro.addPost(_context) }}<!--context means that i sent all tha page so the macro have access for all data in the page!-->#}
                <div class="col-lg-3">
                    {{ include('other.html.twig',{'backgroundColor':'red'}) }} <!--it have the access for only the Data i have sent for it(post.name) as json object!-->

                    <div class="shadow-lg p-4 mb-2 bg-white author">
                        <!-- Flash message comes as array!-->
                        {% for message in app.flashes('success') %} <!-- filter by type !-->
                            <span class="alert alert-success"> {{ message}} </span>
                        {% endfor %}
                        {% for message in app.flashes('danger') %} <!-- filter by type !-->
                            <span class="alert alert-danger"> {{ message}} </span>
                        {% endfor %}
                    </div>
                </div><!--/ col-lg-3 -->
            </div><!--/ row -->
        </div><!--/ container -->
    </section>
{#        {% include 'other.html.twig' %} <!--it have the access for all Data in this file!-->#}

    <script src="{{ asset('js/addLike.js') }}"></script>
{% endblock %}