{% extends 'base.html.twig' %}
{% block title %} Sign Up Page! {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/signup.css') }}">
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('js/signup.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="frame">
            <div class="nav">
                <ul class="links">
                    <li class="signin-inactive"><a style="text-decoration: none;" href="{{ path('login') }}"> Existing User </a></li>
                    <li class="signup-active"><a class="btn">New User</a></li>
                </ul>
            </div>
            <div ng-app ng-init="checked = false">
                <form class="form-signin" action="https://datatechzone.com/" method="post" name="form">
                    <label for="fullname">Full name</label>
                    <input class="form-styling" type="text" name="email" placeholder="" />
                     <label for="email">Email</label>
                    <input class="form-styling" type="text" name="email" placeholder="" />
                    <label for="dlno">Enter DL Number</label>
                    <input class="form-styling" type="text" name="dlno" placeholder="" />
                    <label for="password">Create password</label>
                    <input class="form-styling" type="text" name="confirmpassword" placeholder="" />
                    <a ng-click="checked = !checked" class="btn-signup">REGISTER</a> </form>
            </div>
        </div>
    </div>
{% endblock %}